[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/vim-jsdoc"]
	path = submodules/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "submodules/gundo"]
	path = submodules/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "submodules/vim-pug"]
	path = submodules/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
